# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
.DS_Store
__pycache__

# Directory (contents) ignores
.cloud
.storage
deps
tts
www

# Specific file ignores
.homekit.state
.HA_VERSION
.uuid
alexa_media*.pickle
ip_bans.yaml
known_devices.yaml
options.xml
OZW_Log.txt
pyozw.sqlite
secrets.yaml
zwcfg_*
zwscene.xml

# Ignore files created by IDE's
.vscode